.name {
  font-weight: 700;
  font-size: 35px;
}

.name span {
  color: rgb(10, 182, 250);
}

.socialsIcons {}
.socialsIcons ul{
  display: flex;
  list-style: none;
  justify-content: center;
  
}
.socialsIcons ul li{
  margin: 0 5px;
 
}
.socialsIcons ul li a div:hover{
  border: 2px solid rgb(13, 199, 231);
}
.socialsIcons ul li a div{
  width: 50px;
    background-image: linear-gradient(rgb(23, 22, 24), rgb(20, 33, 44));
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    border: 2px solid rgba(13, 199, 231, 0);
    transition: .7s;
}



/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}


/* small mobile :320px. */
@media (max-width: 767px) {


}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {


}